recipes/
*.bat
*.ps1
# *.json
**.DS_Store
*.egg-info
**/output/
**__pycache__/

# Configuration files
.env
# ros-config.yml

# ROS workspace
build/
install/
log/

.vscode/
prepare.sh

# ROS Data
rosbag*/

src/